<footer class="footer">

    <div class="footer-section">

        <h3>About</h3>

        <br><a href="#">About Us</a>

        <br><a href="#">Contact</a>

    </div>


    <div class="footer-section">

        <h3>Social Links</h3>

        <br><a href="https://youtube.com/@carrierhelper159?si=BtDgQXQHYJoCgRCK">

            Youtube

        </a>

        <br><a href="#">

            Telegram

        </a>

    </div>


    <div class="footer-section">

        <h3>Quick Links</h3>

        <br><a href="index.html">

            Home

        </a>

        <br><a href="notices.html">

            Notices

        </a>

    </div>

</footer>